<p id="notice"><%= notice %></p>


<p>
  <strong>Contenido:</strong>
  <%= @status.user.nombre_completo %>
  <%= @status.contenido %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
